.grow-size-30 {
    flex-grow: 1;
    font-size: 30px;
}

.grow-size-50 {
    flex-grow: 1;
    font-size: 50px;
}

.grow-size-40 {
    flex-grow: 1;
    font-size: 40px;
}

.grow-size-60 {
    flex-grow: 1;
    font-size: 60px;
}

.grow-size-80 {
    flex-grow: 1;
    font-size: 80px;
}
