#menu-scrollView > #unity-content-and-vertical-scroll-container > #unity-content-viewport > #unity-content-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.category-btn {
    width: 247px;
    flex-grow: 0;
}

.fade-out {
    opacity: 1;
    transition-duration: 1s;
}

.item-count-field {
    flex-grow: 1;
    height: 60%;
}
